# Cloudflare Account ID
export CLOUDFLARE_ACCOUNT_ID=""

# Domain verification tokens
export GITHUB_PAGES_VERIFICATION_MAIN=""
export GITHUB_PAGES_VERIFICATION_LINKS=""
export MIGADU_VERIFICATION_PRIMARY=""
export MIGADU_VERIFICATION_SECONDARY=""
export GOOGLE_VERIFICATION_PRIMARY=""
export GOOGLE_VERIFICATION_SECONDARY=""
export DISCORD_VERIFICATION=""

# Cloudflare API Token (for Terraform provider)
export CLOUDFLARE_EMAIL=""
export CLOUDFLARE_API_KEY="" #? global api key

# Backblaze B2 credentials (for state backend)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
